@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/thg8ygy.css");

@font-face {
  font-family: 'gilroyextrabold';
  src: url('./assets/fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
       url('./assets/fonts/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  .body-base {
    @apply w-screen h-screen bg-web-gray;
  }
  
  .extra-title {
    font-family: 'gilroyextrabold';
    @apply text-8xl break-all mt-2 text-title-gray;
    line-height: 0.8em;
  }

  .extra-title-orange {
    font-family: 'gilroyextrabold';
    @apply text-8xl break-all mt-2 text-web-orange;
    line-height: 0.8em;
  }

  .gilroy {
    font-family: 'gilroyextrabold';
  }

  .lato {
    font-family: lato, sans-serif;
  }

  .extra-bold {
    font-weight: 800;
  }

  .menu-link {
    @apply inline-block gilroy text-3xl font-bold text-title-black p-4 relative;
  }

  .menu-link:after {
    content: ' ';
    margin-top: -3px;
    transition: all ease-in-out 0.3s;
    @apply inline-block w-0 absolute left-0 top-1/2 bg-red h-2.5 opacity-50;
  }

  .menu-link:hover:after {
    transition: all ease-in-out 0.3s;
    @apply w-full;
  }

  .normal-link {
    @apply inline-block lato pb-2 text-links;
  }

  .normal-link:after {
    content: ' ';
    transition: all ease-in-out 0.2s;
    height: 1px;
    @apply inline-block w-0 absolute left-0 bottom-0 bg-links;
  }

  .normal-link:hover:after {
    transition: all ease-in-out 0.2s;
    @apply w-full;
  }

  .progress-bar {
    @apply bg-white rounded-xl h-2.5 w-full relative overflow-hidden;
  }

  .progress-bar div {
    transition: all ease-in-out 0.5s;
    @apply h-full absolute left-0 top-0 rounded-xl;
  }

}